ServiExpress/Connected Services/WebServiceProveedor/WebServiceProveedor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://servicios/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WebServiceProveedor" targetNamespace="http://servicios/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebServiceServiExpress/WebServiceProveedor?xsd=1" namespace="http://servicios/" />
    </xsd:schema>
  </types>
  <message name="GetProductosProveedor">
    <part name="parameters" element="tns:GetProductosProveedor" />
  </message>
  <message name="GetProductosProveedorResponse">
    <part name="parameters" element="tns:GetProductosProveedorResponse" />
  </message>
  <message name="GetTipoDeProducto">
    <part name="parameters" element="tns:GetTipoDeProducto" />
  </message>
  <message name="GetTipoDeProductoResponse">
    <part name="parameters" element="tns:GetTipoDeProductoResponse" />
  </message>
  <message name="ObtenerInfoProductoProveedor">
    <part name="parameters" element="tns:ObtenerInfoProductoProveedor" />
  </message>
  <message name="ObtenerInfoProductoProveedorResponse">
    <part name="parameters" element="tns:ObtenerInfoProductoProveedorResponse" />
  </message>
  <message name="ActualizarEstadoProductoProveedor">
    <part name="parameters" element="tns:ActualizarEstadoProductoProveedor" />
  </message>
  <message name="ActualizarEstadoProductoProveedorResponse">
    <part name="parameters" element="tns:ActualizarEstadoProductoProveedorResponse" />
  </message>
  <message name="AgregarNuevoTipoDeProducto">
    <part name="parameters" element="tns:AgregarNuevoTipoDeProducto" />
  </message>
  <message name="AgregarNuevoTipoDeProductoResponse">
    <part name="parameters" element="tns:AgregarNuevoTipoDeProductoResponse" />
  </message>
  <message name="RegistrarNuevoProductoProveedor">
    <part name="parameters" element="tns:RegistrarNuevoProductoProveedor" />
  </message>
  <message name="RegistrarNuevoProductoProveedorResponse">
    <part name="parameters" element="tns:RegistrarNuevoProductoProveedorResponse" />
  </message>
  <message name="ActualizarProductoProveedor">
    <part name="parameters" element="tns:ActualizarProductoProveedor" />
  </message>
  <message name="ActualizarProductoProveedorResponse">
    <part name="parameters" element="tns:ActualizarProductoProveedorResponse" />
  </message>
  <portType name="WebServiceProveedor">
    <operation name="GetProductosProveedor">
      <input wsam:Action="http://servicios/WebServiceProveedor/GetProductosProveedorRequest" message="tns:GetProductosProveedor" />
      <output wsam:Action="http://servicios/WebServiceProveedor/GetProductosProveedorResponse" message="tns:GetProductosProveedorResponse" />
    </operation>
    <operation name="GetTipoDeProducto">
      <input wsam:Action="http://servicios/WebServiceProveedor/GetTipoDeProductoRequest" message="tns:GetTipoDeProducto" />
      <output wsam:Action="http://servicios/WebServiceProveedor/GetTipoDeProductoResponse" message="tns:GetTipoDeProductoResponse" />
    </operation>
    <operation name="ObtenerInfoProductoProveedor">
      <input wsam:Action="http://servicios/WebServiceProveedor/ObtenerInfoProductoProveedorRequest" message="tns:ObtenerInfoProductoProveedor" />
      <output wsam:Action="http://servicios/WebServiceProveedor/ObtenerInfoProductoProveedorResponse" message="tns:ObtenerInfoProductoProveedorResponse" />
    </operation>
    <operation name="ActualizarEstadoProductoProveedor">
      <input wsam:Action="http://servicios/WebServiceProveedor/ActualizarEstadoProductoProveedorRequest" message="tns:ActualizarEstadoProductoProveedor" />
      <output wsam:Action="http://servicios/WebServiceProveedor/ActualizarEstadoProductoProveedorResponse" message="tns:ActualizarEstadoProductoProveedorResponse" />
    </operation>
    <operation name="AgregarNuevoTipoDeProducto">
      <input wsam:Action="http://servicios/WebServiceProveedor/AgregarNuevoTipoDeProductoRequest" message="tns:AgregarNuevoTipoDeProducto" />
      <output wsam:Action="http://servicios/WebServiceProveedor/AgregarNuevoTipoDeProductoResponse" message="tns:AgregarNuevoTipoDeProductoResponse" />
    </operation>
    <operation name="RegistrarNuevoProductoProveedor">
      <input wsam:Action="http://servicios/WebServiceProveedor/RegistrarNuevoProductoProveedorRequest" message="tns:RegistrarNuevoProductoProveedor" />
      <output wsam:Action="http://servicios/WebServiceProveedor/RegistrarNuevoProductoProveedorResponse" message="tns:RegistrarNuevoProductoProveedorResponse" />
    </operation>
    <operation name="ActualizarProductoProveedor">
      <input wsam:Action="http://servicios/WebServiceProveedor/ActualizarProductoProveedorRequest" message="tns:ActualizarProductoProveedor" />
      <output wsam:Action="http://servicios/WebServiceProveedor/ActualizarProductoProveedorResponse" message="tns:ActualizarProductoProveedorResponse" />
    </operation>
  </portType>
  <binding name="WebServiceProveedorPortBinding" type="tns:WebServiceProveedor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetProductosProveedor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetTipoDeProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ObtenerInfoProductoProveedor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ActualizarEstadoProductoProveedor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AgregarNuevoTipoDeProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RegistrarNuevoProductoProveedor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ActualizarProductoProveedor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WebServiceProveedor">
    <port name="WebServiceProveedorPort" binding="tns:WebServiceProveedorPortBinding">
      <soap:address location="http://localhost:8080/WebServiceServiExpress/WebServiceProveedor" />
    </port>
  </service>
</definitions>