ServiExpress/Connected Services/WebServiceEmpleado/WebServiceEmpleado.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://servicios/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WebServiceEmpleado" targetNamespace="http://servicios/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebServiceServiExpress/WebServiceEmpleado?xsd=1" namespace="http://servicios/" />
    </xsd:schema>
  </types>
  <message name="GetTipoDeServicios">
    <part name="parameters" element="tns:GetTipoDeServicios" />
  </message>
  <message name="GetTipoDeServiciosResponse">
    <part name="parameters" element="tns:GetTipoDeServiciosResponse" />
  </message>
  <message name="GetAtenciones">
    <part name="parameters" element="tns:GetAtenciones" />
  </message>
  <message name="GetAtencionesResponse">
    <part name="parameters" element="tns:GetAtencionesResponse" />
  </message>
  <message name="RegistrarAtencion">
    <part name="parameters" element="tns:RegistrarAtencion" />
  </message>
  <message name="RegistrarAtencionResponse">
    <part name="parameters" element="tns:RegistrarAtencionResponse" />
  </message>
  <portType name="WebServiceEmpleado">
    <operation name="GetTipoDeServicios">
      <input wsam:Action="http://servicios/WebServiceEmpleado/GetTipoDeServiciosRequest" message="tns:GetTipoDeServicios" />
      <output wsam:Action="http://servicios/WebServiceEmpleado/GetTipoDeServiciosResponse" message="tns:GetTipoDeServiciosResponse" />
    </operation>
    <operation name="GetAtenciones">
      <input wsam:Action="http://servicios/WebServiceEmpleado/GetAtencionesRequest" message="tns:GetAtenciones" />
      <output wsam:Action="http://servicios/WebServiceEmpleado/GetAtencionesResponse" message="tns:GetAtencionesResponse" />
    </operation>
    <operation name="RegistrarAtencion">
      <input wsam:Action="http://servicios/WebServiceEmpleado/RegistrarAtencionRequest" message="tns:RegistrarAtencion" />
      <output wsam:Action="http://servicios/WebServiceEmpleado/RegistrarAtencionResponse" message="tns:RegistrarAtencionResponse" />
    </operation>
  </portType>
  <binding name="WebServiceEmpleadoPortBinding" type="tns:WebServiceEmpleado">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetTipoDeServicios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetAtenciones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RegistrarAtencion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WebServiceEmpleado">
    <port name="WebServiceEmpleadoPort" binding="tns:WebServiceEmpleadoPortBinding">
      <soap:address location="http://localhost:8080/WebServiceServiExpress/WebServiceEmpleado" />
    </port>
  </service>
</definitions>