ServiExpress/Connected Services/WebServiceEmpleado/WebServiceEmpleado.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://servicios/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WebServiceEmpleado" targetNamespace="http://servicios/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebServiceServiExpress/WebServiceEmpleado?xsd=1" namespace="http://servicios/" />
    </xsd:schema>
  </types>
  <message name="GetAtenciones">
    <part name="parameters" element="tns:GetAtenciones" />
  </message>
  <message name="GetAtencionesResponse">
    <part name="parameters" element="tns:GetAtencionesResponse" />
  </message>
  <message name="GetAtencion">
    <part name="parameters" element="tns:GetAtencion" />
  </message>
  <message name="GetAtencionResponse">
    <part name="parameters" element="tns:GetAtencionResponse" />
  </message>
  <message name="GetProductos">
    <part name="parameters" element="tns:GetProductos" />
  </message>
  <message name="GetProductosResponse">
    <part name="parameters" element="tns:GetProductosResponse" />
  </message>
  <message name="RegistrarVenta">
    <part name="parameters" element="tns:RegistrarVenta" />
  </message>
  <message name="RegistrarVentaResponse">
    <part name="parameters" element="tns:RegistrarVentaResponse" />
  </message>
  <message name="ActualizarProductos">
    <part name="parameters" element="tns:ActualizarProductos" />
  </message>
  <message name="ActualizarProductosResponse">
    <part name="parameters" element="tns:ActualizarProductosResponse" />
  </message>
  <message name="GetTipoDeProducto">
    <part name="parameters" element="tns:GetTipoDeProducto" />
  </message>
  <message name="GetTipoDeProductoResponse">
    <part name="parameters" element="tns:GetTipoDeProductoResponse" />
  </message>
  <message name="RegistrarAtencion">
    <part name="parameters" element="tns:RegistrarAtencion" />
  </message>
  <message name="RegistrarAtencionResponse">
    <part name="parameters" element="tns:RegistrarAtencionResponse" />
  </message>
  <message name="GetTipoDeServicios">
    <part name="parameters" element="tns:GetTipoDeServicios" />
  </message>
  <message name="GetTipoDeServiciosResponse">
    <part name="parameters" element="tns:GetTipoDeServiciosResponse" />
  </message>
  <message name="GetTipoDeDocumento">
    <part name="parameters" element="tns:GetTipoDeDocumento" />
  </message>
  <message name="GetTipoDeDocumentoResponse">
    <part name="parameters" element="tns:GetTipoDeDocumentoResponse" />
  </message>
  <message name="GetVentasEmpleado">
    <part name="parameters" element="tns:GetVentasEmpleado" />
  </message>
  <message name="GetVentasEmpleadoResponse">
    <part name="parameters" element="tns:GetVentasEmpleadoResponse" />
  </message>
  <portType name="WebServiceEmpleado">
    <operation name="GetAtenciones">
      <input wsam:Action="http://servicios/WebServiceEmpleado/GetAtencionesRequest" message="tns:GetAtenciones" />
      <output wsam:Action="http://servicios/WebServiceEmpleado/GetAtencionesResponse" message="tns:GetAtencionesResponse" />
    </operation>
    <operation name="GetAtencion">
      <input wsam:Action="http://servicios/WebServiceEmpleado/GetAtencionRequest" message="tns:GetAtencion" />
      <output wsam:Action="http://servicios/WebServiceEmpleado/GetAtencionResponse" message="tns:GetAtencionResponse" />
    </operation>
    <operation name="GetProductos">
      <input wsam:Action="http://servicios/WebServiceEmpleado/GetProductosRequest" message="tns:GetProductos" />
      <output wsam:Action="http://servicios/WebServiceEmpleado/GetProductosResponse" message="tns:GetProductosResponse" />
    </operation>
    <operation name="RegistrarVenta">
      <input wsam:Action="http://servicios/WebServiceEmpleado/RegistrarVentaRequest" message="tns:RegistrarVenta" />
      <output wsam:Action="http://servicios/WebServiceEmpleado/RegistrarVentaResponse" message="tns:RegistrarVentaResponse" />
    </operation>
    <operation name="ActualizarProductos">
      <input wsam:Action="http://servicios/WebServiceEmpleado/ActualizarProductosRequest" message="tns:ActualizarProductos" />
      <output wsam:Action="http://servicios/WebServiceEmpleado/ActualizarProductosResponse" message="tns:ActualizarProductosResponse" />
    </operation>
    <operation name="GetTipoDeProducto">
      <input wsam:Action="http://servicios/WebServiceEmpleado/GetTipoDeProductoRequest" message="tns:GetTipoDeProducto" />
      <output wsam:Action="http://servicios/WebServiceEmpleado/GetTipoDeProductoResponse" message="tns:GetTipoDeProductoResponse" />
    </operation>
    <operation name="RegistrarAtencion">
      <input wsam:Action="http://servicios/WebServiceEmpleado/RegistrarAtencionRequest" message="tns:RegistrarAtencion" />
      <output wsam:Action="http://servicios/WebServiceEmpleado/RegistrarAtencionResponse" message="tns:RegistrarAtencionResponse" />
    </operation>
    <operation name="GetTipoDeServicios">
      <input wsam:Action="http://servicios/WebServiceEmpleado/GetTipoDeServiciosRequest" message="tns:GetTipoDeServicios" />
      <output wsam:Action="http://servicios/WebServiceEmpleado/GetTipoDeServiciosResponse" message="tns:GetTipoDeServiciosResponse" />
    </operation>
    <operation name="GetTipoDeDocumento">
      <input wsam:Action="http://servicios/WebServiceEmpleado/GetTipoDeDocumentoRequest" message="tns:GetTipoDeDocumento" />
      <output wsam:Action="http://servicios/WebServiceEmpleado/GetTipoDeDocumentoResponse" message="tns:GetTipoDeDocumentoResponse" />
    </operation>
    <operation name="GetVentasEmpleado">
      <input wsam:Action="http://servicios/WebServiceEmpleado/GetVentasEmpleadoRequest" message="tns:GetVentasEmpleado" />
      <output wsam:Action="http://servicios/WebServiceEmpleado/GetVentasEmpleadoResponse" message="tns:GetVentasEmpleadoResponse" />
    </operation>
  </portType>
  <binding name="WebServiceEmpleadoPortBinding" type="tns:WebServiceEmpleado">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetAtenciones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetAtencion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetProductos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RegistrarVenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ActualizarProductos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetTipoDeProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RegistrarAtencion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetTipoDeServicios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetTipoDeDocumento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetVentasEmpleado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WebServiceEmpleado">
    <port name="WebServiceEmpleadoPort" binding="tns:WebServiceEmpleadoPortBinding">
      <soap:address location="http://localhost:8080/WebServiceServiExpress/WebServiceEmpleado" />
    </port>
  </service>
</definitions>