ServiExpress/Connected Services/WebServiceCliente/WebServiceCliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://servicios/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WebServiceCliente" targetNamespace="http://servicios/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebServiceServiExpress/WebServiceCliente?xsd=1" namespace="http://servicios/" />
    </xsd:schema>
  </types>
  <message name="GetTipoDeVehiculo">
    <part name="parameters" element="tns:GetTipoDeVehiculo" />
  </message>
  <message name="GetTipoDeVehiculoResponse">
    <part name="parameters" element="tns:GetTipoDeVehiculoResponse" />
  </message>
  <message name="ActualizarUsuario">
    <part name="parameters" element="tns:ActualizarUsuario" />
  </message>
  <message name="ActualizarUsuarioResponse">
    <part name="parameters" element="tns:ActualizarUsuarioResponse" />
  </message>
  <message name="GetTipoDeServicios">
    <part name="parameters" element="tns:GetTipoDeServicios" />
  </message>
  <message name="GetTipoDeServiciosResponse">
    <part name="parameters" element="tns:GetTipoDeServiciosResponse" />
  </message>
  <message name="ValidarDisponibilidad">
    <part name="parameters" element="tns:ValidarDisponibilidad" />
  </message>
  <message name="ValidarDisponibilidadResponse">
    <part name="parameters" element="tns:ValidarDisponibilidadResponse" />
  </message>
  <message name="RegistrarReservaDeAtencion">
    <part name="parameters" element="tns:RegistrarReservaDeAtencion" />
  </message>
  <message name="RegistrarReservaDeAtencionResponse">
    <part name="parameters" element="tns:RegistrarReservaDeAtencionResponse" />
  </message>
  <message name="GetComunas">
    <part name="parameters" element="tns:GetComunas" />
  </message>
  <message name="GetComunasResponse">
    <part name="parameters" element="tns:GetComunasResponse" />
  </message>
  <message name="GetInfoUsuario">
    <part name="parameters" element="tns:GetInfoUsuario" />
  </message>
  <message name="GetInfoUsuarioResponse">
    <part name="parameters" element="tns:GetInfoUsuarioResponse" />
  </message>
  <message name="GetRegiones">
    <part name="parameters" element="tns:GetRegiones" />
  </message>
  <message name="GetRegionesResponse">
    <part name="parameters" element="tns:GetRegionesResponse" />
  </message>
  <message name="IngresarVehiculo">
    <part name="parameters" element="tns:IngresarVehiculo" />
  </message>
  <message name="IngresarVehiculoResponse">
    <part name="parameters" element="tns:IngresarVehiculoResponse" />
  </message>
  <message name="GetInfoCliente">
    <part name="parameters" element="tns:GetInfoCliente" />
  </message>
  <message name="GetInfoClienteResponse">
    <part name="parameters" element="tns:GetInfoClienteResponse" />
  </message>
  <message name="GetSucursales">
    <part name="parameters" element="tns:GetSucursales" />
  </message>
  <message name="GetSucursalesResponse">
    <part name="parameters" element="tns:GetSucursalesResponse" />
  </message>
  <message name="GetVentasCliente">
    <part name="parameters" element="tns:GetVentasCliente" />
  </message>
  <message name="GetVentasClienteResponse">
    <part name="parameters" element="tns:GetVentasClienteResponse" />
  </message>
  <message name="GetVehiculos">
    <part name="parameters" element="tns:GetVehiculos" />
  </message>
  <message name="GetVehiculosResponse">
    <part name="parameters" element="tns:GetVehiculosResponse" />
  </message>
  <message name="GetReservaciones">
    <part name="parameters" element="tns:GetReservaciones" />
  </message>
  <message name="GetReservacionesResponse">
    <part name="parameters" element="tns:GetReservacionesResponse" />
  </message>
  <portType name="WebServiceCliente">
    <operation name="GetTipoDeVehiculo">
      <input wsam:Action="http://servicios/WebServiceCliente/GetTipoDeVehiculoRequest" message="tns:GetTipoDeVehiculo" />
      <output wsam:Action="http://servicios/WebServiceCliente/GetTipoDeVehiculoResponse" message="tns:GetTipoDeVehiculoResponse" />
    </operation>
    <operation name="ActualizarUsuario">
      <input wsam:Action="http://servicios/WebServiceCliente/ActualizarUsuarioRequest" message="tns:ActualizarUsuario" />
      <output wsam:Action="http://servicios/WebServiceCliente/ActualizarUsuarioResponse" message="tns:ActualizarUsuarioResponse" />
    </operation>
    <operation name="GetTipoDeServicios">
      <input wsam:Action="http://servicios/WebServiceCliente/GetTipoDeServiciosRequest" message="tns:GetTipoDeServicios" />
      <output wsam:Action="http://servicios/WebServiceCliente/GetTipoDeServiciosResponse" message="tns:GetTipoDeServiciosResponse" />
    </operation>
    <operation name="ValidarDisponibilidad">
      <input wsam:Action="http://servicios/WebServiceCliente/ValidarDisponibilidadRequest" message="tns:ValidarDisponibilidad" />
      <output wsam:Action="http://servicios/WebServiceCliente/ValidarDisponibilidadResponse" message="tns:ValidarDisponibilidadResponse" />
    </operation>
    <operation name="RegistrarReservaDeAtencion">
      <input wsam:Action="http://servicios/WebServiceCliente/RegistrarReservaDeAtencionRequest" message="tns:RegistrarReservaDeAtencion" />
      <output wsam:Action="http://servicios/WebServiceCliente/RegistrarReservaDeAtencionResponse" message="tns:RegistrarReservaDeAtencionResponse" />
    </operation>
    <operation name="GetComunas">
      <input wsam:Action="http://servicios/WebServiceCliente/GetComunasRequest" message="tns:GetComunas" />
      <output wsam:Action="http://servicios/WebServiceCliente/GetComunasResponse" message="tns:GetComunasResponse" />
    </operation>
    <operation name="GetInfoUsuario">
      <input wsam:Action="http://servicios/WebServiceCliente/GetInfoUsuarioRequest" message="tns:GetInfoUsuario" />
      <output wsam:Action="http://servicios/WebServiceCliente/GetInfoUsuarioResponse" message="tns:GetInfoUsuarioResponse" />
    </operation>
    <operation name="GetRegiones">
      <input wsam:Action="http://servicios/WebServiceCliente/GetRegionesRequest" message="tns:GetRegiones" />
      <output wsam:Action="http://servicios/WebServiceCliente/GetRegionesResponse" message="tns:GetRegionesResponse" />
    </operation>
    <operation name="IngresarVehiculo">
      <input wsam:Action="http://servicios/WebServiceCliente/IngresarVehiculoRequest" message="tns:IngresarVehiculo" />
      <output wsam:Action="http://servicios/WebServiceCliente/IngresarVehiculoResponse" message="tns:IngresarVehiculoResponse" />
    </operation>
    <operation name="GetInfoCliente">
      <input wsam:Action="http://servicios/WebServiceCliente/GetInfoClienteRequest" message="tns:GetInfoCliente" />
      <output wsam:Action="http://servicios/WebServiceCliente/GetInfoClienteResponse" message="tns:GetInfoClienteResponse" />
    </operation>
    <operation name="GetSucursales">
      <input wsam:Action="http://servicios/WebServiceCliente/GetSucursalesRequest" message="tns:GetSucursales" />
      <output wsam:Action="http://servicios/WebServiceCliente/GetSucursalesResponse" message="tns:GetSucursalesResponse" />
    </operation>
    <operation name="GetVentasCliente">
      <input wsam:Action="http://servicios/WebServiceCliente/GetVentasClienteRequest" message="tns:GetVentasCliente" />
      <output wsam:Action="http://servicios/WebServiceCliente/GetVentasClienteResponse" message="tns:GetVentasClienteResponse" />
    </operation>
    <operation name="GetVehiculos">
      <input wsam:Action="http://servicios/WebServiceCliente/GetVehiculosRequest" message="tns:GetVehiculos" />
      <output wsam:Action="http://servicios/WebServiceCliente/GetVehiculosResponse" message="tns:GetVehiculosResponse" />
    </operation>
    <operation name="GetReservaciones">
      <input wsam:Action="http://servicios/WebServiceCliente/GetReservacionesRequest" message="tns:GetReservaciones" />
      <output wsam:Action="http://servicios/WebServiceCliente/GetReservacionesResponse" message="tns:GetReservacionesResponse" />
    </operation>
  </portType>
  <binding name="WebServiceClientePortBinding" type="tns:WebServiceCliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetTipoDeVehiculo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ActualizarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetTipoDeServicios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ValidarDisponibilidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RegistrarReservaDeAtencion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetComunas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetInfoUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetRegiones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IngresarVehiculo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetInfoCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetSucursales">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetVentasCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetVehiculos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetReservaciones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WebServiceCliente">
    <port name="WebServiceClientePort" binding="tns:WebServiceClientePortBinding">
      <soap:address location="http://localhost:8080/WebServiceServiExpress/WebServiceCliente" />
    </port>
  </service>
</definitions>