ServiExpress/Connected Services/WebServiceCliente/WebServiceCliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://servicios/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WebServiceCliente" targetNamespace="http://servicios/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebServiceServiExpress/WebServiceCliente?xsd=1" namespace="http://servicios/" />
    </xsd:schema>
  </types>
  <message name="GetTipoDeServicios">
    <part name="parameters" element="tns:GetTipoDeServicios" />
  </message>
  <message name="GetTipoDeServiciosResponse">
    <part name="parameters" element="tns:GetTipoDeServiciosResponse" />
  </message>
  <message name="GetTipoDeVehiculo">
    <part name="parameters" element="tns:GetTipoDeVehiculo" />
  </message>
  <message name="GetTipoDeVehiculoResponse">
    <part name="parameters" element="tns:GetTipoDeVehiculoResponse" />
  </message>
  <message name="GetInfoCliente">
    <part name="parameters" element="tns:GetInfoCliente" />
  </message>
  <message name="GetInfoClienteResponse">
    <part name="parameters" element="tns:GetInfoClienteResponse" />
  </message>
  <message name="IngresarVehiculo">
    <part name="parameters" element="tns:IngresarVehiculo" />
  </message>
  <message name="IngresarVehiculoResponse">
    <part name="parameters" element="tns:IngresarVehiculoResponse" />
  </message>
  <message name="GetVehiculos">
    <part name="parameters" element="tns:GetVehiculos" />
  </message>
  <message name="GetVehiculosResponse">
    <part name="parameters" element="tns:GetVehiculosResponse" />
  </message>
  <portType name="WebServiceCliente">
    <operation name="GetTipoDeServicios">
      <input wsam:Action="http://servicios/WebServiceCliente/GetTipoDeServiciosRequest" message="tns:GetTipoDeServicios" />
      <output wsam:Action="http://servicios/WebServiceCliente/GetTipoDeServiciosResponse" message="tns:GetTipoDeServiciosResponse" />
    </operation>
    <operation name="GetTipoDeVehiculo">
      <input wsam:Action="http://servicios/WebServiceCliente/GetTipoDeVehiculoRequest" message="tns:GetTipoDeVehiculo" />
      <output wsam:Action="http://servicios/WebServiceCliente/GetTipoDeVehiculoResponse" message="tns:GetTipoDeVehiculoResponse" />
    </operation>
    <operation name="GetInfoCliente">
      <input wsam:Action="http://servicios/WebServiceCliente/GetInfoClienteRequest" message="tns:GetInfoCliente" />
      <output wsam:Action="http://servicios/WebServiceCliente/GetInfoClienteResponse" message="tns:GetInfoClienteResponse" />
    </operation>
    <operation name="IngresarVehiculo">
      <input wsam:Action="http://servicios/WebServiceCliente/IngresarVehiculoRequest" message="tns:IngresarVehiculo" />
      <output wsam:Action="http://servicios/WebServiceCliente/IngresarVehiculoResponse" message="tns:IngresarVehiculoResponse" />
    </operation>
    <operation name="GetVehiculos">
      <input wsam:Action="http://servicios/WebServiceCliente/GetVehiculosRequest" message="tns:GetVehiculos" />
      <output wsam:Action="http://servicios/WebServiceCliente/GetVehiculosResponse" message="tns:GetVehiculosResponse" />
    </operation>
  </portType>
  <binding name="WebServiceClientePortBinding" type="tns:WebServiceCliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetTipoDeServicios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetTipoDeVehiculo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetInfoCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IngresarVehiculo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetVehiculos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WebServiceCliente">
    <port name="WebServiceClientePort" binding="tns:WebServiceClientePortBinding">
      <soap:address location="http://localhost:8080/WebServiceServiExpress/WebServiceCliente" />
    </port>
  </service>
</definitions>