ServiExpress/Connected Services/WebServiceAdministrador/WebServiceAdministrador.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://servicios/" targetNamespace="http://servicios/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ActualizaEstadoUsuario" type="tns:ActualizaEstadoUsuario" />
  <xs:element name="ActualizaEstadoUsuarioResponse" type="tns:ActualizaEstadoUsuarioResponse" />
  <xs:element name="ActualizarEstadoPedido" type="tns:ActualizarEstadoPedido" />
  <xs:element name="ActualizarEstadoPedidoResponse" type="tns:ActualizarEstadoPedidoResponse" />
  <xs:element name="ActualizarEstadoProducto" type="tns:ActualizarEstadoProducto" />
  <xs:element name="ActualizarEstadoProductoResponse" type="tns:ActualizarEstadoProductoResponse" />
  <xs:element name="ActualizarProductosCancelarPedido" type="tns:ActualizarProductosCancelarPedido" />
  <xs:element name="ActualizarProductosCancelarPedidoResponse" type="tns:ActualizarProductosCancelarPedidoResponse" />
  <xs:element name="ActualizarProductosEntregarPedido" type="tns:ActualizarProductosEntregarPedido" />
  <xs:element name="ActualizarProductosEntregarPedidoResponse" type="tns:ActualizarProductosEntregarPedidoResponse" />
  <xs:element name="FiltrarPorRut" type="tns:FiltrarPorRut" />
  <xs:element name="FiltrarPorRutResponse" type="tns:FiltrarPorRutResponse" />
  <xs:element name="FiltrarPorUsuario" type="tns:FiltrarPorUsuario" />
  <xs:element name="FiltrarPorUsuarioResponse" type="tns:FiltrarPorUsuarioResponse" />
  <xs:element name="GetInfoProducto" type="tns:GetInfoProducto" />
  <xs:element name="GetInfoProductoProveedor" type="tns:GetInfoProductoProveedor" />
  <xs:element name="GetInfoProductoProveedorResponse" type="tns:GetInfoProductoProveedorResponse" />
  <xs:element name="GetInfoProductoResponse" type="tns:GetInfoProductoResponse" />
  <xs:element name="GetInfoUsuario" type="tns:GetInfoUsuario" />
  <xs:element name="GetInfoUsuarioResponse" type="tns:GetInfoUsuarioResponse" />
  <xs:element name="GetOrdenDePedido" type="tns:GetOrdenDePedido" />
  <xs:element name="GetOrdenDePedidoResponse" type="tns:GetOrdenDePedidoResponse" />
  <xs:element name="GetOrdenesDePedido" type="tns:GetOrdenesDePedido" />
  <xs:element name="GetOrdenesDePedidoResponse" type="tns:GetOrdenesDePedidoResponse" />
  <xs:element name="GetPedidos" type="tns:GetPedidos" />
  <xs:element name="GetPedidosResponse" type="tns:GetPedidosResponse" />
  <xs:element name="GetProductos" type="tns:GetProductos" />
  <xs:element name="GetProductosProveedor" type="tns:GetProductosProveedor" />
  <xs:element name="GetProductosProveedorResponse" type="tns:GetProductosProveedorResponse" />
  <xs:element name="GetProductosResponse" type="tns:GetProductosResponse" />
  <xs:element name="GetProveedores" type="tns:GetProveedores" />
  <xs:element name="GetProveedoresResponse" type="tns:GetProveedoresResponse" />
  <xs:element name="GetTipoDeProducto" type="tns:GetTipoDeProducto" />
  <xs:element name="GetTipoDeProductoResponse" type="tns:GetTipoDeProductoResponse" />
  <xs:element name="RegistrarOrdenDePedido" type="tns:RegistrarOrdenDePedido" />
  <xs:element name="RegistrarOrdenDePedidoResponse" type="tns:RegistrarOrdenDePedidoResponse" />
  <xs:element name="RegistrarPedido" type="tns:RegistrarPedido" />
  <xs:element name="RegistrarPedidoResponse" type="tns:RegistrarPedidoResponse" />
  <xs:element name="SeleccionarTodosLosUsuarios" type="tns:SeleccionarTodosLosUsuarios" />
  <xs:element name="SeleccionarTodosLosUsuariosResponse" type="tns:SeleccionarTodosLosUsuariosResponse" />
  <xs:complexType name="SeleccionarTodosLosUsuarios">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="SeleccionarTodosLosUsuariosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:usuarios" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarios">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="estadoDeUsuario" type="tns:estadoDeUsuario" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rut" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDeUsuario" type="tns:tipoDeUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estadoDeUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoDeUsuario" type="xs:string" />
      <xs:element name="idEstadoDeUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoDeUsuario">
    <xs:sequence>
      <xs:element name="idTipoDeUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="tipoDeUsuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrarPedido">
    <xs:sequence>
      <xs:element name="cantidad" type="xs:int" />
      <xs:element name="totalAPagar" type="xs:int" />
      <xs:element name="idOrdenPedido" type="xs:int" />
      <xs:element name="idProductoProveedor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrarPedidoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetInfoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="rut" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetInfoUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="comuna" type="tns:comuna" />
      <xs:element minOccurs="0" name="contraseña" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="primerNombre" type="xs:string" />
      <xs:element minOccurs="0" name="region" type="tns:region" />
      <xs:element minOccurs="0" name="rut" type="xs:string" />
      <xs:element minOccurs="0" name="segundoNombre" type="xs:string" />
      <xs:element name="telefono" type="xs:int" />
      <xs:element minOccurs="0" name="tipoUsuario" type="tns:tipoDeUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comuna">
    <xs:sequence>
      <xs:element minOccurs="0" name="comuna" type="xs:string" />
      <xs:element name="idComuna" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="region">
    <xs:sequence>
      <xs:element name="idRegion" type="xs:int" />
      <xs:element minOccurs="0" name="region" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetInfoProductoProveedor">
    <xs:sequence>
      <xs:element name="idProductoProveedor" type="xs:int" />
      <xs:element minOccurs="0" name="rutProveedor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetInfoProductoProveedorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:productoProveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="estadoDeProducto" type="tns:estadoDeProducto" />
      <xs:element minOccurs="0" name="fechaDeVencimiento" type="xs:string" />
      <xs:element name="idProducto" type="xs:int" />
      <xs:element name="idTipoDeProducto" type="xs:int" />
      <xs:element minOccurs="0" name="marca" type="xs:string" />
      <xs:element name="precioDeCompra" type="xs:int" />
      <xs:element minOccurs="0" name="rutProveedor" type="xs:string" />
      <xs:element name="stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estadoDeProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element name="idEstadoDeProducto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetProveedores">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="GetProveedoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="contraseña" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
      <xs:element minOccurs="0" name="rutProveedor" type="xs:string" />
      <xs:element name="telefono" type="xs:int" />
      <xs:element name="tipoDeUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FiltrarPorRut">
    <xs:sequence>
      <xs:element minOccurs="0" name="rut" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FiltrarPorRutResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:usuarios" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActualizaEstadoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActualizaEstadoUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActualizarEstadoProducto">
    <xs:sequence>
      <xs:element name="idProducto" type="xs:int" />
      <xs:element name="idEstado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActualizarEstadoProductoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetTipoDeProducto">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="GetTipoDeProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:tipoDeProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoDeProducto">
    <xs:sequence>
      <xs:element name="idTipoDeProducto" type="xs:int" />
      <xs:element minOccurs="0" name="producto" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActualizarProductosEntregarPedido">
    <xs:sequence>
      <xs:element name="idOrdenDePedido" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActualizarProductosEntregarPedidoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetOrdenDePedido">
    <xs:sequence>
      <xs:element name="idOrdenDePedido" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetOrdenDePedidoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:ordenDePedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ordenDePedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoDePedido" type="tns:estadoDePedido" />
      <xs:element minOccurs="0" name="fechaDePedido" type="xs:string" />
      <xs:element name="idOrdenPedido" type="xs:int" />
      <xs:element minOccurs="0" name="rutProveedor" type="xs:string" />
      <xs:element name="total" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioRut" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estadoDePedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element name="idEstadoPedido" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrarOrdenDePedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaDePedido" type="xs:string" />
      <xs:element name="total" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioRut" type="xs:string" />
      <xs:element name="idEstadoDePedido" type="xs:int" />
      <xs:element minOccurs="0" name="rutProveedor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrarOrdenDePedidoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetProductosProveedor">
    <xs:sequence>
      <xs:element name="idTipoDeProducto" type="xs:int" />
      <xs:element minOccurs="0" name="rutProveedor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetProductosProveedorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:productoProveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetPedidos">
    <xs:sequence>
      <xs:element name="idOrdenDePedido" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetPedidosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:pedidos" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidos">
    <xs:sequence>
      <xs:element name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaDeVencimiento" type="xs:string" />
      <xs:element name="idPedido" type="xs:int" />
      <xs:element name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="marca" type="xs:string" />
      <xs:element name="precioCompra" type="xs:int" />
      <xs:element name="totalAPagar" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetOrdenesDePedido">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="GetOrdenesDePedidoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:ordenDePedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActualizarProductosCancelarPedido">
    <xs:sequence>
      <xs:element name="idProductoProveedor" type="xs:int" />
      <xs:element name="cantidad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActualizarProductosCancelarPedidoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActualizarEstadoPedido">
    <xs:sequence>
      <xs:element name="idOrdenDePedido" type="xs:int" />
      <xs:element name="idEstado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActualizarEstadoPedidoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetInfoProducto">
    <xs:sequence>
      <xs:element name="idProducto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetInfoProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="estadoDeProducto" type="tns:estadoDeProducto" />
      <xs:element minOccurs="0" name="fechaVencimiento" type="xs:string" />
      <xs:element name="idOrdenDePedido" type="xs:int" />
      <xs:element name="idProducto" type="xs:int" />
      <xs:element name="idTipoDeProducto" type="xs:int" />
      <xs:element minOccurs="0" name="marca" type="xs:string" />
      <xs:element name="precioCompra" type="xs:int" />
      <xs:element name="precioVenta" type="xs:int" />
      <xs:element minOccurs="0" name="rutProveedor" type="xs:string" />
      <xs:element name="stock" type="xs:int" />
      <xs:element name="stockCritico" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FiltrarPorUsuario">
    <xs:sequence>
      <xs:element name="filtroAdministrado" type="xs:boolean" />
      <xs:element name="filtroCliente" type="xs:boolean" />
      <xs:element name="filtroEmpleado" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FiltrarPorUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:usuarios" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetProductos">
    <xs:sequence>
      <xs:element name="idTipoDeProducto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetProductosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>