ServiExpress/Connected Services/WebServiceAdministrador/WebServiceAdministrador.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://servicios/" targetNamespace="http://servicios/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetInfoProducto" type="tns:GetInfoProducto" />
  <xs:element name="GetInfoProductoResponse" type="tns:GetInfoProductoResponse" />
  <xs:element name="GetProductos" type="tns:GetProductos" />
  <xs:element name="GetProductosProveedor" type="tns:GetProductosProveedor" />
  <xs:element name="GetProductosProveedorResponse" type="tns:GetProductosProveedorResponse" />
  <xs:element name="GetProductosResponse" type="tns:GetProductosResponse" />
  <xs:element name="GetProveedores" type="tns:GetProveedores" />
  <xs:element name="GetProveedoresResponse" type="tns:GetProveedoresResponse" />
  <xs:element name="GetTipoDeProducto" type="tns:GetTipoDeProducto" />
  <xs:element name="GetTipoDeProductoResponse" type="tns:GetTipoDeProductoResponse" />
  <xs:complexType name="GetProductosProveedor">
    <xs:sequence>
      <xs:element name="idTipoDeProducto" type="xs:int" />
      <xs:element minOccurs="0" name="rutProveedor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetProductosProveedorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:productoProveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaDeVencimiento" type="xs:string" />
      <xs:element name="idProducto" type="xs:int" />
      <xs:element name="idTipoDeProducto" type="xs:int" />
      <xs:element minOccurs="0" name="marca" type="xs:string" />
      <xs:element name="precioDeCompra" type="xs:int" />
      <xs:element minOccurs="0" name="rutProveedor" type="xs:string" />
      <xs:element name="stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetProveedores">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="GetProveedoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="contraseña" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
      <xs:element minOccurs="0" name="rutProveedor" type="xs:string" />
      <xs:element name="telefono" type="xs:int" />
      <xs:element name="tipoDeUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetInfoProducto">
    <xs:sequence>
      <xs:element name="idProducto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetInfoProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaVencimiento" type="xs:string" />
      <xs:element name="idOrdenDePedido" type="xs:int" />
      <xs:element name="idProducto" type="xs:int" />
      <xs:element name="idTipoDeProducto" type="xs:int" />
      <xs:element minOccurs="0" name="marca" type="xs:string" />
      <xs:element name="precioCompra" type="xs:int" />
      <xs:element name="precioVenta" type="xs:int" />
      <xs:element minOccurs="0" name="rutProveedor" type="xs:string" />
      <xs:element name="stock" type="xs:int" />
      <xs:element name="stockCritico" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetTipoDeProducto">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="GetTipoDeProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:tipoDeProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoDeProducto">
    <xs:sequence>
      <xs:element name="idTipoDeProducto" type="xs:int" />
      <xs:element minOccurs="0" name="producto" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetProductos">
    <xs:sequence>
      <xs:element name="idTipoDeProducto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetProductosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>