ServiExpress/Connected Services/WebServiceUsuario/WebServiceNuevoUsuario1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://servicios/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WebServiceNuevoUsuario" targetNamespace="http://servicios/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebServiceServiExpress/WebServiceNuevoUsuario?xsd=1" namespace="http://servicios/" />
    </xsd:schema>
  </types>
  <message name="GetComunas">
    <part name="parameters" element="tns:GetComunas" />
  </message>
  <message name="GetComunasResponse">
    <part name="parameters" element="tns:GetComunasResponse" />
  </message>
  <message name="GetRegiones">
    <part name="parameters" element="tns:GetRegiones" />
  </message>
  <message name="GetRegionesResponse">
    <part name="parameters" element="tns:GetRegionesResponse" />
  </message>
  <message name="NuevoUsuario">
    <part name="parameters" element="tns:NuevoUsuario" />
  </message>
  <message name="NuevoUsuarioResponse">
    <part name="parameters" element="tns:NuevoUsuarioResponse" />
  </message>
  <portType name="WebServiceUsuario">
    <operation name="GetComunas">
      <input wsam:Action="http://servicios/WebServiceUsuario/GetComunasRequest" message="tns:GetComunas" />
      <output wsam:Action="http://servicios/WebServiceUsuario/GetComunasResponse" message="tns:GetComunasResponse" />
    </operation>
    <operation name="GetRegiones">
      <input wsam:Action="http://servicios/WebServiceUsuario/GetRegionesRequest" message="tns:GetRegiones" />
      <output wsam:Action="http://servicios/WebServiceUsuario/GetRegionesResponse" message="tns:GetRegionesResponse" />
    </operation>
    <operation name="NuevoUsuario">
      <input wsam:Action="http://servicios/WebServiceUsuario/NuevoUsuarioRequest" message="tns:NuevoUsuario" />
      <output wsam:Action="http://servicios/WebServiceUsuario/NuevoUsuarioResponse" message="tns:NuevoUsuarioResponse" />
    </operation>
  </portType>
  <binding name="WebServiceUsuarioPortBinding" type="tns:WebServiceUsuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetComunas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetRegiones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="NuevoUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WebServiceNuevoUsuario">
    <port name="WebServiceUsuarioPort" binding="tns:WebServiceUsuarioPortBinding">
      <soap:address location="http://localhost:8080/WebServiceServiExpress/WebServiceNuevoUsuario" />
    </port>
  </service>
</definitions>